src/
*.ts
!*.d.ts

node_modules/
.vscode/
.idea/
*.log
.DS_Store

vitest.config.ts
tsconfig.json
biome.json
commitlint.config.js
.husky/
pnpm-lock.yaml

.git/
.gitignore


*.test.ts
*.test.js
*.spec.ts
*.spec.js
